@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: cadetblue;
    padding: 30px 0;
}

footer .copy{
        color: white;
        text-align: center;
}
